.counter-container {
  text-align: center;
}

.array-el-examples{
  /* border: 1px solid red; */
  background-color: beige;
}

.counter {
  /* border: 1px solid green; */
}

.counter h1 {
  border: 1px solid red;
  width: 50px;
  padding: 20px;
  margin: 0 auto;
}

.counter button {
  padding: 10px;
  margin: 2px;
}