.counter-container {
  text-align: center;
}

.array-el-examples{
  /* border: 1px solid red; */
  background-color: beige;
}

.counter {
  /* border: 1px solid green; */
}

.counter button {
  padding: 10px;
  margin: 2px;
}